@keyframes sce-20 { 100% { background-position: 0 -20px; } }

@keyframes sce-40 { 100% { background-position: 0 -40px; } }

@keyframes sce-140 { 100% { background-position: 0 -140px; } }

@keyframes sce-240 { 100% { background-position: 0 -240px; } }

@keyframes sce-260 { 100% { background-position: 0 -260px; } }

@keyframes sce-280 { 100% { background-position: 0 -280px; } }

@keyframes sce-300 { 100% { background-position: 0 -300px; } }

@keyframes sce-340 { 100% { background-position: 0 -340px; } }

@keyframes sce-400 { 100% { background-position: 0 -400px; } }

@keyframes sce-480 { 100% { background-position: 0 -480px; } }

@keyframes sce-520 { 100% { background-position: 0 -520px; } }

@keyframes sce-540 { 100% { background-position: 0 -540px; } }

@keyframes sce-560 { 100% { background-position: 0 -560px; } }

@keyframes sce-580 { 100% { background-position: 0 -580px; } }

@keyframes sce-600 { 100% { background-position: 0 -600px; } }

@keyframes sce-640 { 100% { background-position: 0 -640px; } }

@keyframes sce-680 { 100% { background-position: 0 -680px; } }

@keyframes sce-700 { 100% { background-position: 0 -700px; } }

@keyframes sce-720 { 100% { background-position: 0 -720px; } }

@keyframes sce-760 { 100% { background-position: 0 -760px; } }

@keyframes sce-800 { 100% { background-position: 0 -800px; } }

@keyframes sce-840 { 100% { background-position: 0 -840px; } }

@keyframes sce-880 { 100% { background-position: 0 -880px; } }

@keyframes sce-900 { 100% { background-position: 0 -900px; } }

@keyframes sce-920 { 100% { background-position: 0 -920px; } }

@keyframes sce-940 { 100% { background-position: 0 -940px; } }

@keyframes sce-960 { 100% { background-position: 0 -960px; } }

@keyframes sce-980 { 100% { background-position: 0 -980px; } }

@keyframes sce-1680 { 100% { background-position: 0 -1680px; } }

@keyframes sce-2400 { 100% { background-position: 0 -2400px; } }

@keyframes sce-2280 { 100% { background-position: 0 -2280px; } }

@keyframes sce-2040 { 100% { background-position: 0 -2040px; } }

@keyframes sce-1520 { 100% { background-position: 0 -1520px; } }

@keyframes sce-1600 { 100% { background-position: 0 -1600px; } }

@keyframes sce-4240 { 100% { background-position: 0 -4240px; } }

@keyframes sce-1380 { 100% { background-position: 0 -1380px; } }

@keyframes sce-3440 { 100% { background-position: 0 -3440px; } }

@keyframes sce-1200 { 100% { background-position: 0 -1200px; } }

@keyframes sce-1700 { 100% { background-position: 0 -1700px; } }

@keyframes sce-2100 { 100% { background-position: 0 -2100px; } }

@keyframes sce-1560 { 100% { background-position: 0 -1560px; } }

@keyframes sce-2820 { 100% { background-position: 0 -2820px; } }

@keyframes sce-1980 { 100% { background-position: 0 -1980px; } }

@keyframes sce-2600 { 100% { background-position: 0 -2600px; } }

@keyframes sce-1240 { 100% { background-position: 0 -1240px; } }

@keyframes sce-2480 { 100% { background-position: 0 -2480px; } }

@keyframes sce-1420 { 100% { background-position: 0 -1420px; } }

@keyframes sce-2200 { 100% { background-position: 0 -2200px; } }

@keyframes sce-1840 { 100% { background-position: 0 -1840px; } }

@keyframes sce-1000 { 100% { background-position: 0 -1000px; } }

@keyframes sce-1220 { 100% { background-position: 0 -1220px; } }

@keyframes sce-4120 { 100% { background-position: 0 -4120px; } }

@keyframes sce-1340 { 100% { background-position: 0 -1340px; } }

@keyframes sce-3960 { 100% { background-position: 0 -3960px; } }

@keyframes sce-2140 { 100% { background-position: 0 -2140px; } }

@keyframes sce-1080 { 100% { background-position: 0 -1080px; } }

@keyframes sce-1260 { 100% { background-position: 0 -1260px; } }

@keyframes sce-1540 { 100% { background-position: 0 -1540px; } }

@keyframes sce-1360 { 100% { background-position: 0 -1360px; } }

@keyframes sce-1460 { 100% { background-position: 0 -1460px; } }

@keyframes sce-1440 { 100% { background-position: 0 -1440px; } }

@keyframes sce-1280 { 100% { background-position: 0 -1280px; } }

@keyframes sce-1660 { 100% { background-position: 0 -1660px; } }

@keyframes sce-2660 { 100% { background-position: 0 -2660px; } }

@keyframes sce-1820 { 100% { background-position: 0 -1820px; } }

@keyframes sce-1400 { 100% { background-position: 0 -1400px; } }

@keyframes sce-1500 { 100% { background-position: 0 -1500px; } }

@keyframes sce-1140 { 100% { background-position: 0 -1140px; } }

@keyframes sce-2380 { 100% { background-position: 0 -2380px; } }

@keyframes sce-1880 { 100% { background-position: 0 -1880px; } }

@keyframes sce-1900 { 100% { background-position: 0 -1900px; } }

@keyframes sce-1480 { 100% { background-position: 0 -1480px; } }

@keyframes sce-2160 { 100% { background-position: 0 -2160px; } }

@keyframes sce-1860 { 100% { background-position: 0 -1860px; } }

@keyframes sce-1100 { 100% { background-position: 0 -1100px; } }

@keyframes sce-1180 { 100% { background-position: 0 -1180px; } }

@keyframes sce-2560 { 100% { background-position: 0 -2560px; } }

@keyframes sce-1920 { 100% { background-position: 0 -1920px; } }

@keyframes sce-2440 { 100% { background-position: 0 -2440px; } }

@keyframes sce-1020 { 100% { background-position: 0 -1020px; } }

@keyframes sce-4260 { 100% { background-position: 0 -4260px; } }

@keyframes sce-1780 { 100% { background-position: 0 -1780px; } }

@keyframes sce-1760 { 100% { background-position: 0 -1760px; } }

@keyframes sce-1300 { 100% { background-position: 0 -1300px; } }

@keyframes sce-1580 { 100% { background-position: 0 -1580px; } }

@keyframes sce-2540 { 100% { background-position: 0 -2540px; } }

@keyframes sce-1120 { 100% { background-position: 0 -1120px; } }

@keyframes sce-4000 { 100% { background-position: 0 -4000px; } }

@keyframes sce-2860 { 100% { background-position: 0 -2860px; } }

@keyframes sce-1620 { 100% { background-position: 0 -1620px; } }

@keyframes sce-3000 { 100% { background-position: 0 -3000px; } }

@keyframes sce-1800 { 100% { background-position: 0 -1800px; } }

@keyframes sce-2220 { 100% { background-position: 0 -2220px; } }

@keyframes sce-3800 { 100% { background-position: 0 -3800px; } }

@keyframes sce-4920 { 100% { background-position: 0 -4920px; } }

@keyframes sce-1060 { 100% { background-position: 0 -1060px; } }

@keyframes sce-4600 { 100% { background-position: 0 -4600px; } }

@keyframes sce-2180 { 100% { background-position: 0 -2180px; } }

@keyframes sce-4280 { 100% { background-position: 0 -4280px; } }

@keyframes sce-1040 { 100% { background-position: 0 -1040px; } }

@keyframes sce-1160 { 100% { background-position: 0 -1160px; } }

@keyframes sce-1960 { 100% { background-position: 0 -1960px; } }

@keyframes sce-2000 { 100% { background-position: 0 -2000px; } }

@keyframes sce-2120 { 100% { background-position: 0 -2120px; } }

@keyframes sce-2240 { 100% { background-position: 0 -2240px; } }

@keyframes sce-2360 { 100% { background-position: 0 -2360px; } }

@keyframes sce-2520 { 100% { background-position: 0 -2520px; } }

@keyframes sce-2680 { 100% { background-position: 0 -2680px; } }

@keyframes sce-2720 { 100% { background-position: 0 -2720px; } }

@keyframes sce-2760 { 100% { background-position: 0 -2760px; } }

@keyframes sce-2800 { 100% { background-position: 0 -2800px; } }

@keyframes sce-2840 { 100% { background-position: 0 -2840px; } }

@keyframes sce-2880 { 100% { background-position: 0 -2880px; } }

@keyframes sce-2920 { 100% { background-position: 0 -2920px; } }

@keyframes sce-2960 { 100% { background-position: 0 -2960px; } }

@keyframes sce-3040 { 100% { background-position: 0 -3040px; } }

@keyframes sce-3080 { 100% { background-position: 0 -3080px; } }

@keyframes sce-3120 { 100% { background-position: 0 -3120px; } }

@keyframes sce-3160 { 100% { background-position: 0 -3160px; } }

@keyframes sce-3200 { 100% { background-position: 0 -3200px; } }

@keyframes sce-3240 { 100% { background-position: 0 -3240px; } }

@keyframes sce-3320 { 100% { background-position: 0 -3320px; } }

@keyframes sce-3360 { 100% { background-position: 0 -3360px; } }

@keyframes sce-3400 { 100% { background-position: 0 -3400px; } }

@keyframes sce-3520 { 100% { background-position: 0 -3520px; } }

@keyframes sce-3560 { 100% { background-position: 0 -3560px; } }

@keyframes sce-3600 { 100% { background-position: 0 -3600px; } }

@keyframes sce-3640 { 100% { background-position: 0 -3640px; } }

@keyframes sce-3680 { 100% { background-position: 0 -3680px; } }

@keyframes sce-3720 { 100% { background-position: 0 -3720px; } }

@keyframes sce-3760 { 100% { background-position: 0 -3760px; } }

@keyframes sce-3840 { 100% { background-position: 0 -3840px; } }

@keyframes sce-4080 { 100% { background-position: 0 -4080px; } }

@keyframes sce-4200 { 100% { background-position: 0 -4200px; } }

@keyframes sce-4320 { 100% { background-position: 0 -4320px; } }

@keyframes sce-4360 { 100% { background-position: 0 -4360px; } }

@keyframes sce-4400 { 100% { background-position: 0 -4400px; } }

@keyframes sce-4440 { 100% { background-position: 0 -4440px; } }

@keyframes sce-4560 { 100% { background-position: 0 -4560px; } }

@keyframes sce-4760 { 100% { background-position: 0 -4760px; } }

@keyframes sce-4800 { 100% { background-position: 0 -4800px; } }

@keyframes sce-4880 { 100% { background-position: 0 -4880px; } }

@keyframes sce-4960 { 100% { background-position: 0 -4960px; } }

@keyframes sce-5080 { 100% { background-position: 0 -5080px; } }

@keyframes sce-5120 { 100% { background-position: 0 -5120px; } }

@keyframes sce-5200 { 100% { background-position: 0 -5200px; } }

@keyframes sce-5320 { 100% { background-position: 0 -5320px; } }

@keyframes sce-5640 { 100% { background-position: 0 -5640px; } }

@keyframes sce-5720 { 100% { background-position: 0 -5720px; } }

@keyframes sce-6000 { 100% { background-position: 0 -6000px; } }

@keyframes sce-6880 { 100% { background-position: 0 -6880px; } }

@keyframes sce-7600 { 100% { background-position: 0 -7600px; } }

@keyframes sce-7920 { 100% { background-position: 0 -7920px; } }

@keyframes sce-8000 { 100% { background-position: 0 -8000px; } }

@keyframes sce-8240 { 100% { background-position: 0 -8240px; } }

@keyframes sce-8480 { 100% { background-position: 0 -8480px; } }

@keyframes sce-8520 { 100% { background-position: 0 -8520px; } }

@keyframes sce-8560 { 100% { background-position: 0 -8560px; } }

@keyframes sce-9200 { 100% { background-position: 0 -9200px; } }

@keyframes sce-9840 { 100% { background-position: 0 -9840px; } }